.table {
    width: 100%;
    border-collapse: collapse; 
}

.table thead th {
    background-color: #f8f9fa;
    color: #343a40;           
    text-align: center;        
    border: 1px solid #dee2e6; 
}

.table tbody td {
    text-align: center;        
    vertical-align: middle;    
    color: #000;            
    padding: 10px;           
    border: 1px solid #dee2e6;
}


.btn-primary {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
    text-decoration: none; 
    cursor: pointer;
    background-color: #000000;
    color: #fff; 
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.btn-primary:hover {
    background-color: #393b3d; 
    text-decoration: none; 
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(66, 67, 68, 0.5);
}


.table img {
    border-radius: 5px;   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.btn-primary, .btn-danger {
    margin: 5px; 
}


.spinner-border {
    width: 3rem;  
    height: 3rem;
    margin-right: 10px; 
}
.table-responsive
{
    margin-bottom: 70px;
}
.section-loading p {
    font-size: 1.2rem;
    font-weight: bold; 
}


#error-message {
    color: red;  
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .table-responsive {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table {
        width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;
    }

    .table-bordered {
        border: 1px solid #dee2e6;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6;
        padding: 0.75rem;
        vertical-align: top;
    }

    .table-bordered thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .btn-nuevo
    {
        margin-top: 40px;

    }
}